:root{

    --font-primary: 'Nunito Sans', sans-serif;



}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(210deg, #4D4DFF 16%, #0018A8 100%);

    
}

.main{
/*     
    min-height: 65vh;
    max-height: 70vh; */
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto 50px;
}

.title{

    width: 90%;
    font-family: var(--font-primary);
    color: white;
    margin: 8vh auto 20px auto;
}

.title__main{

    display: inline-block;
    font-size: 5.4rem;
    font-weight: bold;
    line-height: 5.8rem;
    margin-bottom: 10px;
    
}

.title__secondary{

    display: inline-block;
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: normal;
    margin-bottom: 20px;
}

.title__link{

    color: #00FFFF;
    text-decoration: none;

}

.logo{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 90px;
    padding: 10px;
    background: radial-gradient(33.94% 33.94% at 33.94% 44.04%, #4D4DFF 0%, #0018A8 100%);  
    box-shadow: 0px 39px 58px rgba(0, 0, 0, 0.09);
}

.logo__image{
    position: absolute;
    left: calc(50% - 80px/2);
    top: calc(50% - 80px/2);
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url('../assets/logo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;



}


.buttons{

    width: 95%;
    min-width: 288px;
    max-width: 400px;
    margin: 0 auto;

}



.button__log{
    display: flex;
    justify-content: space-between;
}



.button{
    display: block;
    width: 90%;
    height: 80px;  
    font-size: 2rem;
    font-weight: bold;  
    line-height: 2.4rem;
    margin: 0 auto 15px;
    border-radius: 100px;
    color: white;
}

.button__log--in{
    background: linear-gradient(180deg, #FFC107 0%, #FD7E14 100%);
    
}

.button__log--up{
    background: linear-gradient(180deg, #FFD200 0%, #F7971E 100%);
}

.button--shop{
    background: linear-gradient(182.59deg, #F16529 25.48%, #E44D26 97.84%);
}

.button--blog{
    background: linear-gradient(180deg, #885DF1 0%, #6610F2 100%);
}

.button--contac{
    background: linear-gradient(180deg, #41295A 30.73%, #2F0743 100%);
}

.footer{

    padding-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



